* {
  /**XXXXX** BEGIN Rem out **XXXXX**
  ***X box-sizing: border-box;
  ***XXXXX**  END  Rem out **XXXXX**/
}

body {
  /* Typography */
  font-size: 16px;
  line-height: 24px;

  /* Visual */
  background-color: #ccc;
}

h1 {
  background-color: royalblue;
  color: white;
}

img {
  width: 100%;
}
