/**XXXXX** BEGIN Rem out **XXXXX**
***X * {
***X   box-sizing: border-box;
***X }
***XXXXX**  END  Rem out **XXXXX**/

body {
  /* Typography */
  font-size: 16px;
  line-height: 24px;

  /* Visual */
  background-color: #ccc;
}

h1 {
  padding: 0rem;
}

img {
  width: 100%;
}

/* Create Vim logo labelled with text */
.VimLogo_with_text {
  width: 200rem;
}
